
/* Container */
.Container{
  line-height: 1.65;
  padding: 20px 20px;
 
}
/* Sidebar Styles */
.col-1 {
    flex-basis: 25%;
    float: left;
  }
  /* Right main area Styles */
  .col-2{
   flex-basis: 65%;
    float: right;

  }
  /* For desktop: */
  @media only screen and (min-width: 900px) {
    
    
    .Container {
      display: flex;
      justify-content: space-between;
    }
  
  }
 /* For mobile phones: */
  @media only screen and (max-width: 768px) {
   
    [class*="col-"] {
      flex-basis: 100%;
    }

    }

  /*image style*/
  .img{
      margin: 5px;
     
  }
   /*logo style*/
   .logo{
    margin: 10px;
    align-content: center;
   
}

  /* Welcome Heading */
  .Wheading1{
    font-family: 'Dancing Script', cursive;
    font-size: 105px;
    color: rgb(61, 61, 61);
    margin: 10px;
  
  }

  /* main headings style*/
  .heading1{
    font-family: 'Poiret One', cursive;
    font-size: 8vw;
    color: rgb(61, 61, 61);
    margin: 10px;
    font-weight: bold;
    margin: 20px;
  
  }
  .h2{
    font-family: 'Poiret One', cursive;
    font-size: 5vw;
    color: #61B229;
    margin: 10px;
   
    font-weight: Bold;
  
  }

  .h3{
    font-family:'Lato', sans-serif;
    font-size: 25px;
    color: rgb(51, 56, 51);
    font-weight:Bold;
  
  }
  .h4{
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    color: #61B229;
    margin: 10px;
   font-style: italic;
    font-weight: Bold;
  }
/* horizontal line */
  .hr{
    display: block;
    height: 1px;
    max-width: 65%;
    border: 0;
    padding: 0;
    margin: 1em 0;
    border-top:1px solid #676767;
    align-content: center;
  }
  /* list style */
  .li{
    font-family: 'Poiret One', cursive;
    font-size: 25px;
    color:#73AD21;
    font-weight: bolder;
    margin: 10px;
    
}
/* paragraph style */
.paragraph{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: rgb(80, 80, 80);
    margin: 15px;
    max-width: 900px;
}
.footer{
  display: inline-block;
width:100%;
height: 100px;
  background-color: rgb(55, 55, 55);
  line-height: 2;
  float: center;
}

/* footer link style */
 .a{
     display:flex;
     justify-content: center;
     height: 20px;
     margin: auto;
     padding: 10px 10px;
     font-family: 'Poiret One', cursive;
    font-size: 16px;
    color:rgb(181, 181, 139) ;

    
 }
 .a:hover{
  color: rgb(250, 250, 250);
 }

/* button Style */
  .button1 {
    width: 300px;
     height: 50px;
     padding: 10PX 10PX;
    background: rgba(255, 255, 255,0);
  border: 1px solid rgb(41, 41, 40); 
  border-radius: 10px;
  margin: 10PX;
    color:rgb(41, 41, 40);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  
  }
  .button1:hover {
    color: #fff;
    background-color: #73AD21;
    
  

  }

  .tool-container{
    max-width: 1000px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 40px auto 0 auto;
  }
  .tool-img{
    max-width: 60px;
    height: auto;
    padding:20px;
  }
 